# Configurações do servidor
DEBUG=True
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO

# Configurações do Shopify
SHOPIFY_STORE=sua-loja.myshopify.com
SHOPIFY_API_VERSION=2024-10
SHOPIFY_STOREFRONT_TOKEN=seu_token_storefront_aqui
SHOPIFY_ADMIN_TOKEN=seu_token_admin_aqui_opcional 